
/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

img{
  max-width: 100%;
}


/* UTILITY */


.debug{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, .25);
}



/* COMPONENTS */

.container{
  width: 80%;
  margin: 0 auto;
}


/* HEADER */

header{
  background-color: #FF6900;
}

header .header-content{
  display: flex;
  justify-content: space-between;
}

header .header-content img{
  width: 80px;
}

header .header-content ul{
  display: flex;
  list-style: none;
}

header .header-content ul a{
  text-decoration: none;
  color: #FFFFFF;
}