
/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

img{
  max-width: 100%;
}


/* UTILITY */


.debug{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, .25);
}



/* COMPONENTS */

.container{
  width: 80%;
  margin: 0 auto;
}


/* HEADER */

header{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FF6900;
  box-shadow: 1px 1px 10px black;
}

header .header-content{
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}

header .header-content img{
  width: 150px;
}

header .header-content ul{
  display: flex;
  list-style: none;
}

header .header-content #icons{
  padding: 0 10px 0 0;
}

header .header-content ul li{
  padding-right: 10px;
}

header .header-content ul a{
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}

/* MAIN */

main .row{
  margin-top: 60px;
  text-align: center;
}

main .product{
  width: calc(95% / 3);
  display: inline-block;  
  margin-bottom: 50px;
  min-width: 400px;
}

main .product:nth-child(2), .product:nth-child(5){
  margin: 0 15px;
}

main .product .image{
  position: relative;
}

main .product .image #img-hover{
  display: none;
}

main .product .image:hover #img-hover{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

main .product .image .discount{
  position: absolute;
  bottom: 70px;
  color: white;
  background-color: red;
  font-weight: bold;
  padding: 4px 8px;
}

main .product .image .sost{
  position: absolute;
  bottom: 70px;
  left: 60px;
  color: white;
  background-color: green;
  font-weight: bold;
  padding: 4px 10px;
}

main .product .image .heart{
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #FFFFFF;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
}

.product .text{
  text-align: left;
}

.product .text .brand, .clothing-type{
  display: block;
}

.product .text .brand{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product .text .clothing-type{
  font-weight: bold;
  text-transform: uppercase;
}

.product .text .discounted-price{
  color: red;
  font-weight: bold;
}

.product .text .price{
  text-decoration: line-through;
}

main .product .sost-6{
  position: absolute;
  bottom: 70px;
  color: white;
  background-color: green;
  font-weight: bold;
  padding: 4px 10px;
}

/* FOOTER */


footer{
  background-color: #1A1A1A;
}

footer .container{
  display: flex;
  color: white;
  justify-content: space-between;
  line-height: 30px;
}

footer .container .footer-left{
  padding-left: 20px;
}

footer .container .footer-right{
  padding-right: 20px;
}

footer .container h3, h5{
  padding-top: 20px;
}

footer .container ul{
  list-style: none;
  display: flex;
}

footer .container ul li{
  padding-bottom: 20px;
  font-size: 0.9rem;
}

footer .container ul a{
  color: white;
  text-decoration: none;
  padding-right: 10px;
}

footer .container ul a i{
  font-size: 1.2rem;
}